/*
 * Resets/defaults
 */
html, body, p,
dl, ul, ol, li, dt, dd,
h1, h2, h3, h4, h5, h6, 
table, th, tr, td, 
input, textarea, select, option, button {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  overflow: auto;
}

body {
  font-size: 62.5%;
  min-height: 100%;
  margin: 0;
}
a{
  text-decoration: none;
}

/*GLOBAL*/

h1{
   font-size: 78px;
   color: #FFF;
   font-family: "Economica",sans-serif;
}

h1, h2{
  text-transform: capitalize;

  font-weight: normal;
}
h2 {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 24px;
  line-height: 36px;

}
p{
  font-size: 16px;
  color: #333333;
  line-height: 28px;
  font-family: "HelveticaNeue-Thin", "Helvetica Neue Thin", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}


/*HEADER*/
#head{
  background-color: #ffffff;
  height: 80px;
  z-index: 200;
  border-bottom: 1px solid #dcdcdc;
  width: 100%;
  position: absolute;

}
#head a{
  font-family: "proxima-nova", sans-serif;
  line-height: 15px;
}

nav{
  margin-top: 30px;
    text-align: center;
}
.quicklink{
  padding-right: 30px;
  font-size: 12px;
  text-transform: uppercase;
  color: #066dab;
}
/*MAIN*/

/*Main Sections*/
#main h2{
  color: #333333;
}

.large-section{
  border-bottom: 1px solid #dcdcdc;
}
#intro{
    padding-top: 80px;

    background: rgb(6,109,171); /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover,  rgba(6,109,171,1) 0%, rgba(197,222,234,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(6,109,171,1)), color-stop(100%,rgba(197,222,234,1))); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover,  rgba(6,109,171,1) 0%,rgba(197,222,234,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover,  rgba(6,109,171,1) 0%,rgba(197,222,234,1) 100%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover,  rgba(6,109,171,1) 0%,rgba(197,222,234,1) 100%); /* IE10+ */
    background: radial-gradient(ellipse at center,  rgba(6,109,171,1) 0%,rgba(197,222,234,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#066dab', endColorstr='#c5deea',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

  height: 300px;
}
  .section-wrap .left, .section-wrap .right{
    margin: 0 auto;
  }
  #intro{
    height: 320px;

  }
  #intro .left{
    text-align: center;
  }

#first-review{
  height: 440px;
  padding-bottom: 100px;
}
#first-review .content{
    float: left;
}


  /*Bits*/
  .section-wrap{
    width: 1240px;
    margin: 0 auto;
  }
  .content{
    width: 480px;
/*    float: left;*/
  }
  .left{
    text-align: left;
  }
  .right{
    float: right;
  }
  #intro .left{
    margin-top: 55px;
  }
#intro .left p {
   margin-top: 20px;
   font-size: 26px;
   line-height: 32px;
   color: #FFF;
   font-family: "Economica";
   text-transform: uppercase;
}

  #first-review .left{
    margin-top: 155px;
  }
  #first-review .right{
    margin-top: 100px;
  }
  #first-review-img{
    width: 50%;
  }


/*FOOTER*/
footer{
  padding: 40px 0;
  height: 170px;
  text-align: center;
}
footer p{
  color: #9b9b9b;
  font-size: 14px;
  line-height: 16px;
  padding-bottom: 25px;
}



/*Media queries*/

@media only screen and (max-width: 1260px) {
  .content{
    width: 420px;
  }
  .section-wrap{
    width: 1000px;
  }
}

@media only screen and (max-width: 1000px) {
  nav{
    text-align: center;
    float: none;
    margin-left: 30px;
    margin-right: 0;
  }
  .left{
    float: none;
  }
  .right{
    float: none;
  }
  #main{
    text-align: center;
  }
  .section-wrap{
    padding-left: 0;
    width: 600px;
  }
  #intro .right{
    margin-top: 50px;
  }
  #first-review{
    height: 540px;

  }
  #first-review .left{
    margin-top: 100px;
  }
  #first-review .right{
    margin-top: 45px;
  }
  #first-review .content{
    float: none;
}
}

  /* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
  @media only screen and (max-width: 479px) {
    #first-review{
      padding-bottom: 50px;
    }
    h1{
      font-size: 50px;
    }
    #intro{
      padding-top: 15px;
    }

    #head{
      display: none;
    }
    .quicklink{
      display: none;
    }
    .section-wrap{
        width: 320px;
      }
    .section-wrap .left, .section-wrap .right{
      width: 270px;
    }
    p{
      font-size: 14px;
    }
    #first-review{
      height: 475px;
    }
    #intro .section-wrap{
      width: 320px;
    }
    #first-review .left{
      margin-top: 50px;
    }
    #footer, #first-review-img{
      margin: 0 auto;
      width: 270px;
    }

  }
